In [3]:
import pandas as pd

data = pd.read_csv("../data/2023-24/merged_gw.csv").filter(["name", "position", "team"])
data.head()

                     name position           team
0             Femi Seriki      DEF  Sheffield Utd
1        Jack Hinshelwood      MID       Brighton
2            Jadon Sancho      MID        Man Utd
3  Rhys Norrington-Davies      DEF  Sheffield Utd
4           Vitaly Janelt      MID      Brentford